In [78]:
## Importing the libraries

import pandas as pd
from sklearn.linear_model import LinearRegression

# Loading the Training Data and using the Training Data to build the Model

In [40]:
df_train = pd.read_csv('D:/Hackathon/Train dataset.csv')
df_train.head()

,Registration Number,Annual Turnover,Cuisine,City,Restaurant Location,Opening Day of Restaurant,Facebook Popularity Quotient,Endorsed By,Instagram Popularity Quotient,Fire Audit,...,Overall Restaurant Rating,Live Music Rating,Comedy Gigs Rating,Value Deals Rating,Live Sports Rating,Ambience,Lively,Service,Comfortablility,Privacy
0,60001,42000000,"indian,irish",Bangalore,Near Business Hub,14-02-2009,84.3,Not Specific,95.8,1,...,10.0,4.0,NaN,NaN,NaN,8.0,8,6,6,6
1,60002,50000000,"indian,irish",Indore,Near Party Hub,29-09-2008,85.4,Tier A Celebrity,85.0,1,...,9.0,NaN,4.0,NaN,NaN,5.0,7,7,3,8
2,60003,32500000,"tibetan,italian",Chennai,Near Business Hub,30-07-2011,85.0,Tier A Celebrity,68.2,1,...,8.0,3.0,NaN,NaN,NaN,7.0,10,5,2,8
3,60004,110000000,"turkish,nigerian",Gurgaon,Near Party Hub,30-11-2008,85.6,Tier A Celebrity,83.6,0,...,9.0,6.0,NaN,NaN,NaN,7.0,7,4,3,5
4,60005,20000000,"irish,belgian",Manesar,Near Party Hub,22-02-2010,NaN,Tier A Celebrity,76.8,1,...,6.0,NaN,2.0,NaN,NaN,NaN,6,2,4,6

In [41]:
## Checking for the null values

df_train.isnull().sum()

Registration Number                 0
Annual Turnover                     0
Cuisine                             0
City                                0
Restaurant Location                 0
Opening Day of Restaurant           0
Facebook Popularity Quotient       99
Endorsed By                         0
Instagram Popularity Quotient      56
Fire Audit                          0
Liquor License Obtained             0
Situated in a Multi Complex         0
Dedicated Parking                   0
Open Sitting Available              0
Resturant Tier                     49
Restaurant Type                     0
Restaurant Theme                    0
Restaurant Zomato Rating            0
Restaurant City Tier                0
Order Wait Time                     0
Staff Responsivness                 0
Value for Money                     0
Hygiene Rating                      0
Food Rating                         0
Overall Restaurant Rating         212
Live Music Rating                 765
Comedy Gigs Rating               2483
Value Deals Rating               2707
Live Sports Rating               3288
Ambience                           25
Lively                              0
Service                             0
Comfortablility                     0
Privacy                             0
dtype: int64

In [42]:
## Importing Simple Imputer to treat the null values

from sklearn.impute import SimpleImputer

In [9]:
## Defning the Simple Imputer funtion to use 'mean' as a strategy of imputation

SI = SimpleImputer(strategy='mean')

In [43]:
## Fitting the Simple Imputer function to get the mean of the variable

SI.fit(df_train[['Instagram Popularity Quotient']])

SimpleImputer()

In [35]:
## Transforming the variable --> Imputing the variable with its mean

IPQ = SI.transform(df_train[['Instagram Popularity Quotient']])
IPQ

array([[95.8],
       [85. ],
       [68.2],
       ...,
       [86.8],
       [86. ],
       [67. ]])

In [36]:
## Declaring the Linear Regression function

LR = LinearRegression()

In [37]:
## Fitting the Linear Regression function

model = LR.fit(IPQ,df_train['Annual Turnover'])

In [38]:
## Checking the score of the function on the training data

model.score(IPQ,df_train['Annual Turnover'])

0.026482712263984687

# Loading the Test Data and using the Test Data to Predict the target Variable

In [44]:
df_test = pd.read_csv('D:/Hackathon/Test dataset.csv')
df_test.head()

,Registration Number,Cuisine,City,Restaurant Location,Opening Day of Restaurant,Facebook Popularity Quotient,Endoresed By,Instagram Popularity Quotient,Fire Audit,Liquor License Obtained,...,Overall Restaurant Rating,Live Music Rating,Comedy Gigs Rating,Value Deals Rating,Live Sports Rating,Ambience,Lively,Service,Comfortablility,Privacy
0,20001,"tibetan,italian",Bangalore,Near Business Hub,13-07-2010,78.00,Tier A Celebrity,69.00,1,1,...,6.0,NaN,2.0,NaN,NaN,5,2,2,6,0
1,20002,"tibetan,italian",Hyderabad,Near Party Hub,05-09-2011,89.17,Not Specific,96.00,1,1,...,9.0,3.0,NaN,NaN,6.0,7,8,5,1,8
2,20003,"algerian,belgian",Hyderabad,Near Party Hub,12-04-2011,84.00,Not Specific,86.00,1,1,...,6.0,3.0,NaN,NaN,NaN,9,7,5,1,5
3,20004,"tibetan,greek",-1,Near Party Hub,16-01-2005,79.38,Not Specific,74.40,0,1,...,9.0,6.0,NaN,NaN,NaN,6,7,6,4,7
4,20005,"cuban,british",Pune,Near Party Hub,10-11-2008,84.67,Not Specific,86.46,1,1,...,NaN,NaN,NaN,NaN,NaN,4,4,7,7,3

In [46]:
## Checking for the null values

df_test.isnull().sum()

Registration Number                0
Cuisine                            0
City                               0
Restaurant Location                0
Opening Day of Restaurant          0
Facebook Popularity Quotient       0
Endoresed By                       0
Instagram Popularity Quotient      0
Fire Audit                         0
Liquor License Obtained            0
Situated in a Multi Complex        0
Dedicated Parking                  0
Open Sitting Available             0
Resturant Tier                     0
Restaurant Type                    0
Restaurant Theme                   0
Restaurant Zomato Rating           0
Restaurant City Tier               0
Order Wait Time                    0
Staff Responsivness                0
Value for Money                    0
Hygiene Rating                     0
Food Rating                        0
Overall Restaurant Rating         34
Live Music Rating                102
Comedy Gigs Rating               370
Value Deals Rating               385
Live Sports Rating               471
Ambience                           0
Lively                             0
Service                            0
Comfortablility                    0
Privacy                            0
dtype: int64

In [49]:
## Using the model built on the Training set to predict on the Test Set

prediction = model.predict(df_test[['Instagram Popularity Quotient']])
prediction

array([28970960.71768262, 37737095.60304943, 34490378.9788395 ,
       30724187.69475598, 34639727.94355315, 25759957.976339  ,
       23906082.78391513, 27347602.40557766, 31243662.35462957,
       27448250.62092816, 30399516.03233499, 33711166.98902911,
       35139722.30368149, 31081326.52341907, 29078102.36628155,
       27724221.53398601, 33776101.32151331, 27867077.06545124,
       34165707.31641851, 28191748.72787223, 28646289.05526163,
       33516363.99157652, 27996945.73041964, 27996945.73041964,
       31935212.99558628, 26308653.08583048, 36373474.62088126,
       35139722.30368149, 32996889.33170293, 35789065.62852347,
       27120332.24188296, 31243662.35462957, 36146204.45718656,
       36535810.45209175, 31243662.35462957, 22802199.13168376,
       32542349.00431354, 29490435.37755621, 28743690.55398792,
       24360623.11130452, 36730613.44954436, 27802142.73296705,
       29321606.11309729, 27802142.73296705, 35983868.62597606,
       31568334.01705056, 27672274.06799865, 33711166.98902911,
       29295632.38010361, 28711223.38774583, 31893005.67947156,
       33386495.32660812, 26828127.74570407, 32477414.67182934,
       34944919.30622889, 29944975.7049456 , 28776157.72023003,
       26568390.41576727, 31633268.34953476, 36925416.44699694,
       24263221.61257822, 29727445.69112353, 35383226.05049723,
       36763080.61578645, 28743690.55398792, 37737095.60304943,
       31763137.01450316, 26373587.41831468, 27737208.40048285,
       30594319.02978759, 30399516.03233499, 25854112.75844109,
       29100829.38265102, 28256683.06035643, 28970960.71768262,
       34490378.9788395 , 36058543.10833289, 32444947.50558725,
       29889781.52233403, 26698259.08073567, 37379956.77438633,
       30659253.36227179, 37055285.11196534, 34425444.6463553 ,
       33191692.32915553, 31568334.01705056, 25399572.4310517 ,
       33191692.32915553, 30399516.03233499, 29750172.707493  ,
       32867020.66673454, 26698259.08073567, 29880041.3724614 ,
       30789122.02724018, 35139722.30368149, 31341063.85335587,
       36178671.62342866, 37737095.60304943, 24370363.26117715,
       30269647.36736659, 37639694.10432313, 27711234.66748917,
       32477414.67182934, 27087865.07564086, 33568311.45756388,
       31503399.68456636, 31243662.35462957, 31438465.35208216,
       33841035.65399751, 28906026.38519842, 29100829.38265102,
       31503399.68456636, 34003371.485208  , 34555313.3113237 ,
       36276073.12215496, 34944919.30622889, 28743690.55398792,
       33451429.65909232, 26178784.42086208, 26535923.24952517,
       30529384.69730338, 33386495.32660812, 32347546.00686095,
       24425557.44378872, 34750116.30877629, 32282611.67437675,
       31944953.14545891, 27022930.74315666, 34879984.97374469,
       33363768.31023866, 27996945.73041964, 27996945.73041964,
       32542349.00431354, 31243662.35462957, 32347546.00686095,
       24587893.27499922, 31893005.67947156, 29230698.04761941,
       34451418.37934898, 35594262.63107087, 34490378.9788395 ,
       29295632.38010361, 35139722.30368149, 27022930.74315666,
       29880041.3724614 , 30139778.70239819, 32477414.67182934,
       35464393.96610248, 33516363.99157652, 35084528.12106992,
       35139722.30368149, 24165820.11385193, 28211229.0276175 ,
       36763080.61578645, 36178671.62342866, 30334581.69985079,
       32412480.33934514, 33321560.99412392, 26308653.08583048,
       34165707.31641851, 37737095.60304943, 32737152.00176613,
       30918990.69220858, 27152799.40812506, 30675486.94539283,
       30009910.0374298 , 26191771.28735892, 31893005.67947156,
       34360510.3138711 , 29513162.39392568, 33841035.65399751,
       24782696.27245181, 29188490.73150469, 27152799.40812506,
       34165707.31641851, 36535810.45209175, 29133296.54889312,
       26990463.57691456, 23883355.76754566, 34717649.1425342 ,
       31828071.34698736, 31893005.67947156, 35464393.96610248,
       30269647.36736659, 26373587.41831468, 36113737.29094446,
       29295632.38010361, 32948188.58233978, 34295575.9813869 ,
       34165707.31641851, 30269647.36736659, 31750150.14800632,
       33516363.99157652, 26860594.91194617, 32477414.67182934,
       23451542.45652574, 27087865.07564086, 26048915.75589368,
       25334638.0985675 , 33613765.49030282, 37087752.27820744,
       33516363.99157652, 26373587.41831468, 27996945.73041964,
       29944975.7049456 , 36243605.95591286, 27867077.06545124,
       32574816.17055564, 28191748.72787223, 35594262.63107087,
       27672274.06799865, 32607283.33679774, 37250088.10941794,
       25399572.4310517 , 29295632.38010361, 26698259.08073567,
       35464393.96610248, 32217677.34189255, 34815050.64126049,
       30854056.35972438, 29620304.04252461, 27347602.40557766,
       25724244.09347269, 30789122.02724018, 26698259.08073567,
       27996945.73041964, 30594319.02978759, 29009921.31717314,
       33370261.74348707, 31513139.83443899, 26156057.40449261,
       30954704.57507489, 35334525.30113408, 34360510.3138711 ,
       28970960.71768262, 35724131.29603927, 32867020.66673454,
       26535923.24952517, 25334638.0985675 , 33256626.66163973,
       28321617.39284064, 36503343.28584966, 35681923.97992454,
       27022930.74315666, 28354084.55908273, 27347602.40557766,
       32899487.83297663, 27347602.40557766, 33711166.98902911,
       35139722.30368149, 34230641.64890271, 26828127.74570407,
       24100885.78136773, 34360510.3138711 , 30594319.02978759,
       26698259.08073567, 26048915.75589368, 35759845.17890558,
       36925416.44699694, 28646289.05526163, 29360566.71258781,
       26243718.75334628, 26243718.75334628, 30918990.69220858,
       31568334.01705056, 35107255.13743939, 29944975.7049456 ,
       29295632.38010361, 26805400.7293346 , 32951435.29896399,
       31633268.34953476, 37055285.11196534, 36243605.95591286,
       24100885.78136773, 35464393.96610248, 30854056.35972438,
       28970960.71768262, 26698259.08073567, 30659253.36227179,
       30529384.69730338, 30918990.69220858, 31143014.13927906,
       30789122.02724018, 26211251.58710418, 22477527.46926276,
       33126757.99667133, 31143014.13927906, 26185277.8541105 ,
       27315135.23933556, 32178716.74240203, 33256626.66163973,
       36016335.79221816, 31405998.18584007, 33516363.99157652,
       32542349.00431354, 30854056.35972438, 23841148.45143094,
       28776157.72023003, 36892949.28075485, 30854056.35972438,
       26052162.47251789, 35334525.30113408, 27380069.57181975,
       28970960.71768262, 27347602.40557766, 24100885.78136773,
       31243662.35462957, 29944975.7049456 , 33191692.32915553,
       29165763.71513521, 26048915.75589368, 33256626.66163973,
       30639773.06252652, 28776157.72023003, 29620304.04252461,
       24425557.44378872, 26535923.24952517, 34328043.14762901,
       26698259.08073567, 27996945.73041964, 31113793.68966117,
       27185266.57436716, 35464393.96610248, 30594319.02978759,
       35789065.62852347, 34815050.64126049, 32542349.00431354,
       26568390.41576727, 22152855.80684177, 28711223.38774583,
       34785830.1916426 , 34860504.67399943, 30918990.69220858,
       34379990.61361636, 33386495.32660812, 31620281.48303792,
       35464393.96610248, 30162505.71876767, 33061823.66418713,
       25399572.4310517 , 34815050.64126049, 26698259.08073567,
       37217620.94317584, 21828184.14442078, 26308653.08583048,
       30204713.03488239, 33126757.99667133, 31587814.31679582,
       28321617.39284064, 28808624.88647212, 35853999.96100767,
       31633268.34953476, 33970904.31896591, 25334638.0985675 ,
       33516363.99157652, 31568334.01705056, 34652714.81005   ,
       33418962.49285022, 24639840.74098657, 27347602.40557766,
       32461181.08870829, 27373576.13857133, 34587780.4775658 ,
       38126701.59795462, 24587893.27499922, 31373531.01959797,
       27022930.74315666, 28321617.39284064, 36600744.78457595,
       36535810.45209175, 31828071.34698736, 32867020.66673454,
       28906026.38519842, 27672274.06799865, 28646289.05526163,
       28970960.71768262, 27217733.74060926, 31568334.01705056,
       32867020.66673454, 34383237.33024057, 33451429.65909232,
       31503399.68456636, 35139722.30368149, 32613776.77004616,
       28321617.39284064, 28646289.05526163, 31957940.01195576,
       30204713.03488239, 35691664.12979718, 36113737.29094446,
       31600801.18329266, 38126701.59795462, 26308653.08583048,
       27996945.73041964, 24425557.44378872, 32623516.91991879,
       27347602.40557766, 30009910.0374298 , 27834609.89920915,
       36113737.29094446, 31243662.35462957, 25399572.4310517 ,
       35366992.46737618, 28646289.05526163, 28321617.39284064,
       27886557.3651965 , 23224272.29283105, 29977442.87118769,
       28321617.39284064, 27996945.73041964, 30594319.02978759,
       31438465.35208216, 37383203.49101055, 25399572.4310517 ,
       37120219.44444954, 33626752.35679966, 26795660.57946197,
       34328043.14762901, 26698259.08073567, 31957940.01195576,
       35139722.30368149, 33081303.96393239, 26178784.42086208,
       22802199.13168376, 28701483.2378732 , 32542349.00431354,
       35107255.13743939, 33841035.65399751, 28061880.06290384,
       29295632.38010361, 32996889.33170293, 23201545.27646158,
       27022930.74315666, 27347602.40557766, 28776157.72023003,
       34165707.31641851, 32867020.66673454, 35529328.29858668,
       37818263.51865467, 27347602.40557766, 29944975.7049456 ,
       27347602.40557766, 31503399.68456636, 32412480.33934514,
       34652714.81005   , 30918990.69220858, 30269647.36736659,
       25399572.4310517 , 31243662.35462957, 32867020.66673454,
       28159281.56163014, 26373587.41831468, 35464393.96610248,
       29295632.38010361, 35383226.05049723, 29256671.78061309,
       34263108.81514481, 29944975.7049456 , 30918990.69220858,
       31026132.3408075 , 37964365.76674412, 28321617.39284064,
       33841035.65399751, 31113793.68966117, 29035895.05016682,
       24750229.10620971, 26698259.08073567, 26448261.9006715 ,
       36178671.62342866, 30863796.50959701, 24750229.10620971,
       33191692.32915553, 32867020.66673454, 33841035.65399751,
       34685181.97629209, 24568412.97525395, 32087808.67692415,
       27347602.40557766, 35983868.62597606, 33678699.82278702,
       34685181.97629209, 34879984.97374469, 33126757.99667133,
       33084550.6805566 , 27022930.74315666, 30074844.369914  ,
       24360623.11130452, 32737152.00176613, 33256626.66163973,
       29165763.71513521, 27802142.73296705, 32477414.67182934,
       36113737.29094446, 28061880.06290384, 29295632.38010361,
       29944975.7049456 , 23954783.53327828, 29750172.707493  ,
       37704628.43680733, 28711223.38774583])

# Saving the output in a data frame and then exporting it to a '.csv' file with the appropriate 'Registration Number'.

In [64]:
solution_df = pd.DataFrame(df_test['Registration Number'])
solution_df

     Registration Number
0                  20001
1                  20002
2                  20003
3                  20004
4                  20005
..                   ...
495                20496
496                20497
497                20498
498                20499
499                20500

[500 rows x 1 columns]

In [69]:
solution_df['Annual Turnover'] = prediction
solution_df

     Registration Number  Annual Turnover
0                  20001     2.897096e+07
1                  20002     3.773710e+07
2                  20003     3.449038e+07
3                  20004     3.072419e+07
4                  20005     3.463973e+07
..                   ...              ...
495                20496     2.994498e+07
496                20497     2.395478e+07
497                20498     2.975017e+07
498                20499     3.770463e+07
499                20500     2.871122e+07

[500 rows x 2 columns]

In [77]:
## Setting the directory to export the file as a '.csv'

import os
os.chdir('D:/Hackathon')

In [75]:
## Exporting the data frame to a '.csv' file and setting the index = False as we do want the index

solution_df.to_csv('Submission.csv',index=False)

# END